<div class="relative pt-24"> 
    <div class="">
        <img class="w-full object-cover h-screen" src="/images/hero33.jpg" alt="">
    </div>
    <div class="absolute inset-0 text-4xl lg:text-7xl text-white font-bold  flex flex-col justify-center items-center text-center bg-black/40">
        <h1 class="  ">Kenya Is Calling With
        <br  class="block 
       "> <span class="bg-gradient-to-r from-green-600 via-white to-red-600 bg-clip-text text-transparent font-extrabold text-5xl lg:text-8xl uppercase">Beach bay </span>
        <br class="block"> Tours & Safaris</h1>
    </div>
</div>
