
<div class="relative mt-10 bg-red-300/50 h-[500px] ">
    <div class=" custom-shape-divider-bottom-1742478217">
        <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
            <path d="M985.66,92.83C906.67,72,823.78,31,743.84,14.19c-82.26-17.34-168.06-16.33-250.45.39-57.84,11.73-114,31.07-172,41.86A600.21,600.21,0,0,1,0,27.35V120H1200V95.8C1132.19,118.92,1055.71,111.31,985.66,92.83Z" class="shape-fill"></path>
        </svg>
    </div>

    <div class="flex flex-col lg:flex-row justify-between items-center mx-10 lg:pt-36 ">
        <div class="flex flex-col  justify-center items-center ">
            <img class="h-32 w-32 rounded-full" src="/images/favicon.png" alt=""> 
            <p class="text-xl">Watamu Beach Road </p>
            <p class="text-xl">80202,Watamu,Kenya</p>
        </div>
        <div class="hidden lg:flex flex-col  justify-center items-start">
            <div>
                <p class="text-2xl font-semibold py-2">DISCOVER KENYA</p>
            </div>
            <div class="flex flex-col  gap-y-2 text-xl z-10">
            <a routerLink="/safaris"><p class="hover:text-green-600">Safaris</p></a>
            <a routerLink="/excursions"><p class="hover:text-green-600">Excursions</p></a>
            <a routerLink="/transfers"><p class="hover:text-green-600">Transfers</p></a>
            
            </div>
        </div>
        <div class="flex flex-col items-center z-10">
            <div><p class="text-2xl font-semibold py-4">FIND US</p></div>
            <div class="flex flex-col gap-y-4 justify-center items-start">
                <a class="flex justify-center items-center" href="https://www.instagram.com/beachbay_tours_and_safaris?igsh=eTNnbTZjdHhmeHQ2" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-instagram fa-2x pr-2 bg-gradient-to-r from-purple-600 via-red-600 to-amber-500 bg-clip-text text-transparent"></i><span class="text-lg hover:text-red-500">Instagram</span></a>
                <a class="flex justify-center items-center" href="https://api.whatsapp.com/send?phone=254787989070&text=Hello...&source=&data=" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-whatsapp fa-2x pr-2 text-green-500"></i><span class="text-lg hover:text-green-600">Whatsapp</span></a>
                
                <a class="flex justify-center items-center" href="https://www.tiktok.com/@beachbay_toursandsafaris?_r=1&_t=ZM-930stRiGOoS"><i class="fa-brands fa-tiktok fa-2x p-2 bg-black rounded-md text-white"></i><span class="text-lg ">Tiktok</span></a>
            </div>
            
         
        </div>
    </div>
    <div class="flex justify-center items-center pt-10">
        <p class="z-10">ALL RIGHTS RESERVED &#64; 2019 - {{currentYear}} </p>
    </div>
</div>
