
<div class="pt-24">
    <div>
        <img class="w-full lg:h-96 object-cover" src="/images/about.jpg" alt="">

    </div>

    <div class="flex flex-col lg:grid lg:grid-cols-2 lg:mx-6 lg:gap-x-6 mt-6  gap-y-4">
        <div class="p-6">
            <img class="" src="/images/cheetah.jpeg" alt="">
        </div>
        <div class="p-6">
            <p class="text-gray-400 text-lg leading-7">
                Discovery Kenya was born in 2017, from a joint idea of ​​passion and expertise, to offer tourists the opportunity to independently organize an all-inclusive holiday, maintaining high standards of quality and safety. Our team is made up of tourist guides and safari drivers with years of experience, ready to offer you everything you might need during your holiday in Kenya. In all these years of work, with the passion that distinguishes us, we have managed to form a close-knit team of local people with whom we collaborate and rely to best organize your experience here. We like to create a relationship of friendship and trust with the people who choose us as their point of reference and this is essential for all the members of our agency, our primary goal is always to try to make your holiday unforgettable. And we are known for being good at this 🙂

                <br>For any request do not hesitate to contact us.

                    <br>Experience Kenya with us!
            </p>
        </div>
    </div>

    <div class="flex justify-center items-center mt-44  lg:mx-40 pb-10 lg:pb-24 ">
        <p class="italic font-mono text-sm md:text-base lg:text-3xl uppercase">choose us and we will take care of your holiday in <br>every detail, making it magical and unforgettable.</p>
    </div>
    <div class="grid grid-cols-1 lg:grid-cols-3 grid-rows-[auto,auto,1fr] gap-4  px-4  shadow-2xl py-16">
        <div class="grid grid-rows-subgrid row-span-3 gap-5 place-items-center text-center pb-6">
            
                <img class="" src="/images/elephant-svgrepo-com.svg" alt="">
          
            
                <p class="text-2xl font-semibold font-jaini text-green-500">Safari</p>
           
            <p class="leading-7 text-gray-400">Want to experience the best of Kenya and the African savannah? Choose your safari,  customize it to your needs. You think about relaxing.</p>
          

        </div>

        <div class="grid grid-rows-subgrid row-span-3 place-items-center text-center pb-6 gap-5">
            <img src="/images/camera-10-svgrepo-com.svg" alt="">
            <p class="text-2xl font-semibold font-jaini text-green-500">Excursions</p>
            <p class="leading-7 text-gray-400">Discover all the excursion possibilities in Watamu and its surroundings, to get the most out of your holiday and return with a bag full of unforgettable experiences.</p>

        </div>

        <div class="grid grid-rows-subgrid row-span-3 gap-5 place-items-center text-center pb-6">
            <img src="/images/customer-service.svg" alt="">
            <p class="text-2xl font-semibold font-jaini text-green-500">Transfers</p>
            <p class="leading-7 text-gray-400">Need a transfer? Beach Bay is the solution for organizing every aspect of your vacation. Come in to learn more about us.</p>

        </div>
       
    </div>
</div>
