<div class="flex justify-between items-center py-2 px-4 bg-gradient-to-r from-green-700 via-white to-red-700 w-full">
    <img class="h-28 w-28 object-cover" src="/images/logokenya.png" alt="">
    <div> 
        <ul class="flex justify-between items-center gap-x-6 font-jaini">
            <li class="uppercase text-3xl font-semibold hover:text-teal-500 cursor-pointer">safaris</li>
            <li class="uppercase text-3xl font-semibold  hover:text-teal-500 cursor-pointer">excusions</li>
            <li class="uppercase text-3xl font-semibold  hover:text-yellow-200 cursor-pointer">transfers</li>
            <li class="uppercase text-3xl font-semibold  hover:text-yellow-200 cursor-pointer">contact us</li>
            <li class="uppercase text-3xl font-semibold bg-white text-black px-3 py-1 rounded-3xl hover:bg-gradient-to-r hover:from-green-600 via-white to-red-600 cursor-pointer">Book now </li>
        </ul>
    </div>
</div>
