<div class="flex flex-col lg:grid  lg:grid-cols-2 gap-x-10 gap-y-6 lg:gap-y-0 pt-10 px-10 ">
    <div class="flex flex-col justify-start  items-center gap-6 order-2 lg:order-1">
        <h2 class="hidden lg:flex text-5xl font-semibold font-serif bg-gradient-to-r from-green-600  to-red-600 bg-clip-text text-transparent">SAFARIS & TOURS</h2>
        <p class="text-xl">When the topic of an African safari is brought up,Kenya must be one of the first destinations which comes to mind.it is after all,the birthplace of the Safaris
            and was the first country to introduce the conceipt of the Big 5.
            Beach bay tours and safaris will be like staying with family, our Kenyan hospitality and professionalism will guarantee you on-site support for every need, so that your experience in Kenya becomes the best of your life. 
            Our plus is the 24H Italian assistance and the possibility of creating complete packages based on your needs
        </p>
        <button routerLink="/safaris" class="bg-black/80 text-white px-4 py-2 rounded-3xl text-xl hover:bg-gradient-to-r hover:from-red-600 hover:via-white hover:to-green-600 hover:text-black">Explore More <span><i class="fa-solid fa-arrow-right-long fa-lg pl-1 "></i></span></button>
    </div>
    <div class="flex flex-col justify-center items-center gap-y-4 order-1 lg:order-2">
        <h2 class="text-3xl font-semibold font-serif bg-gradient-to-r from-green-600  to-red-600 bg-clip-text text-transparent lg:hidden">SAFARIS & TOURS</h2>
        <img class="object-cover rounded-3xl" src="/images/leop.jpg" alt="">
    </div>
</div>

<div class="flex flex-col lg:grid  lg:grid-cols-2 gap-x-10 pt-10 px-10 gap-y-6 lg:gap-y-0">
    <div class="flex flex-col justify-center items-center gap-y-4">
        <h2 class=" lg:hidden text-3xl font-semibold font-serif bg-gradient-to-r from-green-600  to-red-600 bg-clip-text text-transparent">EXCURSIONS</h2>
        <img class="object-cover rounded-4xl" src="/images/leop.jpg" alt="">
    </div>
    <div class="flex flex-col justify-start  items-center gap-6">
        <h2 class="hidden lg:flex text-5xl font-semibold font-serif bg-gradient-to-r from-green-600  to-red-600 bg-clip-text text-transparent">EXCURSIONS</h2>
        <p class="text-xl">Watamu is located along Kenya’s breathtaking coastline, offer a variety of exciting excursions. In Watamu, visitors can explore the Watamu Marine National Park, where they can snorkel among vibrant coral reefs, take a boat ride through Mida Creek, or visit the ancient ruins of Gede.Provide a perfect mix of adventure, culture, and relaxation.
        </p>
        <button class="bg-black/80 text-white px-4 py-2 rounded-3xl text-xl hover:bg-gradient-to-r hover:from-red-600 hover:via-white hover:to-green-600 hover:text-black">Explore More <span><i class="fa-solid fa-arrow-right-long fa-lg pl-1 "></i></span></button>
    </div>
   
</div>

<div class="flex flex-col lg:grid  lg:grid-cols-2 gap-x-10 pt-10 px-10 gap-y-6 lg:gap-y-0">
    <div class="flex flex-col justify-start  items-center gap-x-6 order-2 lg:order-1 gap-y-4">
        <h2 class="hidden lg:flex text-3xl font-semibold font-serif bg-gradient-to-r from-green-600  to-red-600 bg-clip-text text-transparent">TRANSFERS</h2>
        <p class="text-xl"> Beach bay safari tours offers Airport and private transfers in Watamu with comfortable and reliable transport from Malindi Airport and Mombasa Airport to hotels and resorts. Clients can choose from private cars, shuttles, or luxury vehicles for a smooth journey.
        </p>
        <button class="bg-black/80 text-white px-4 py-2 rounded-3xl text-xl hover:bg-gradient-to-r hover:from-red-600 hover:via-white hover:to-green-600 hover:text-black ">Explore More <span><i class="fa-solid fa-arrow-right-long fa-lg pl-1 "></i></span></button>
    </div>
    <div class="flex flex-col gap-y-4 justify-center items-center order-1 lg:order-2">
        <h2 class=" lg:hidden text-3xl font-semibold font-serif bg-gradient-to-r from-green-600  to-red-600 bg-clip-text text-transparent">TRANSFERS</h2>
        <img class="object-cover rounded-3xl" src="/images/transfer.jpg" alt="">
    </div>
</div>
