<div class="pt-24">
    <div class="relative">
        <img class="w-full h-full object-cover" src="/images/lionn.jpg" alt="">
        <div class="absolute inset-0 flex justify-center items-center lg:items-start bg-black/20">
            <h1 class="text-4xl lg:text-8xl font-jaini text-white uppercase pl-4 lg:pt-20">Discover the Wild: Your Ultimate Safari Experience</h1>
        </div>
    </div>

    <div class="flex flex-col lg: pt-4 lg:pt-10 gap-y-6">
        <p class="text-center text-5xl font-jaini ">OUR SAFARIS</p>
        <p class="text-base px-4 lg:px-20">
            If you want to explore the crystal clear sea of ​​Kenya without giving up the thrill of an adventure immersed in the wild nature, the Beach-Bay 2-4 day Safaris are the ideal choice for you. Perfect for those who want to live the experience of the savannah without straying too far from the coast, these tours are easily accessible by jeep or plane directly from your resort or private home.

<br><br> If you are looking for a deeper experience and a true break from the routine , let yourself be won over by our 6-7 day Safaris , an epic journey through the most iconic parks in Kenya, including the Masai Mara, Amboseli and Tsavo. These tours depart from Nairobi , so we recommend booking them in advance to better plan your adventure. Trust us also for complete packages that include flights, transfers and luxury stays!
        </p>
    </div>


 
<div class="md:grid md:grid-cols-2 lg:grid-cols-3 md:grid-rows-[auto,1fr,auto] gap-6 lg:mx-20  flex flex-col justify-center items-center md:items-start pt-10">
    @for (item of safaris;track item.title){
        <div  class="md:grid md:grid-rows-subgrid md:row-span-3 flex flex-col justify-between items-start ">
            <a [routerLink]="['/safaris', item.slug]" ><div class="relative group overflow-hidden ">
                <img class=" rounded-2xl shadow-amber-400 h-72 w-96 md:w-72 object-cover" src="{{item.image}}" alt="">
                <div class="absolute inset-0 bg-black/40 p-4 rounded-2xl flex flex-col justify-end items-start">
                    <p class="font-extrabold text-3xl text-white font-alfa ">{{item.title}}</p>
                    <p class="font-extrabold text-xl text-white font-alfa ">{{item.title2}}</p>
                   
                </div>
                
            </div></a>
            
           
        </div>
    }
    
    
</div>
<div class="flex justify-center items-center  py-4">
    <p class="text-5xl font-jaini">AIR TRAVEL</p>
</div>
<div class="flex flex-col lg:grid lg:grid-cols-2 place-items-center gap-4 lg:gap-0">
    @for (air of airSafaris; track air.name) {
        <div  class="md:grid md:grid-rows-subgrid md:row-span-3 flex flex-col justify-between items-center ">
            <a [routerLink]="['/safaris', air.slug]" ><div class="relative group overflow-hidden ">
                <img class=" rounded-2xl shadow-amber-400 h-80 w-96  object-cover" src="{{air.image}}" alt="">
                <div class="absolute inset-0 bg-black/40 p-4 rounded-2xl flex flex-col justify-end items-start">
                    <p class="font-extrabold text-3xl text-white font-alfa ">{{air.name}}</p>
                    
                    
                   
                </div>
                
            </div></a>
            
           
        </div>
    }

</div>
</div>
<app-safari-slider/>

