<div class="pt-32">
    <div class="text-center pb-10">
        <p class="text-3xl font-bold flex flex-col font-serif">Discover our latest and most stunning visual treat that will leave you
            <br class="block"> breathless!</p>
    </div>
    <div class="grid grid-cols-1 lg:grid-cols-3 px-4 gap-y-2 gap-x-2">
        <img class="h-96 w-full object-cover" src="/images/lione.webp" alt="">
        <img class="h-96 w-full object-cover" src="/images/elepnt.webp" alt="">
        <img class="h-96 w-full object-cover" src="/images/girrafe.jpg" alt="">
        <img class="h-96 w-full object-cover" src="/images/bufffff.jfif" alt="">
        <img class="h-96 w-full object-cover" src="/images/flmng.jpg" alt="">
        <img class="h-96 w-full object-cover" src="/images/lamprd.jfif" alt="">

    </div>
</div>
