
<div class=" px-6 lg:mx-16 pt-6 flex flex-col justify-center items-center shadow-2xl pb-4  rounded-4xl">
    <div class="text-center py-4">
        <p class="text-3xl md:text-4xl font-semibold font-jaini">REQUEST SAFARI QUOTATION</p>
        
    </div>
   
    <form [formGroup]="safariForm" (ngSubmit)="sendEmail($event)"  class="space-y-6 w-full lg:w-2/3">
        <div class="w-full">
            <label class="block text-gray-700 font-medium">Name</label>
            <input type="name" formControlName="name" name="name"  placeholder="Enter your name"
                class="w-full p-2 border-b border-gray-400 focus:outline-none focus:border-amber-500">
        </div>
        <div *ngIf="(safariForm.get('name')?.invalid && (safariForm.get('name')?.touched || safariForm.get('name')?.dirty))" 
        class="text-red-500 text-sm mt-2 hidden lg:flex">
        <p *ngIf="safariForm.get('name')?.errors?.['required']">
            <i class="fa-solid fa-circle-exclamation fa-lg pr-1"></i>Please fill your name.
        </p>
        </div>

        <div class="flex flex-col lg:flex-row gap-6">
            <div class="w-full lg:w-1/2">
                <label class="block text-gray-700 font-medium">No. of Adults</label>
                <input type="number" formControlName="adults" name="adults" min="1" placeholder="Enter number of adults"
                    class="w-full p-2 border-b border-gray-400 focus:outline-none focus:border-amber-500">
            </div>
            <div *ngIf="(safariForm.get('adults')?.invalid && (safariForm.get('adults')?.touched || safariForm.get('adults')?.dirty))" 
            class="text-red-500 text-sm mt-2 lg:hidden">
            <p *ngIf="safariForm.get('adults')?.errors?.['required']">
                <i class="fa-solid fa-circle-exclamation fa-lg pr-1"></i>Please fill the number of adults.
            </p>
            </div>

            <div class="w-full lg:w-1/2">
                <label class="block text-gray-700 font-medium">No. of Children</label>
                <input type="number" formControlName="children" name="children"  placeholder="Enter number of children"
                    class="w-full p-2 border-b border-gray-400 focus:outline-none focus:border-amber-500">
            </div>

        </div>
        <div *ngIf="(safariForm.get('adults')?.invalid && (safariForm.get('adults')?.touched || safariForm.get('adults')?.dirty))" 
        class="text-red-500 text-sm mt-2 hidden lg:flex">
        <p *ngIf="safariForm.get('adults')?.errors?.['required']">
            <i class="fa-solid fa-circle-exclamation fa-lg pr-1"></i>Please fill the number of adults.
        </p>
        </div>
      

        <div class="mt-4 flex flex-col gap-0">
            <p class="text-xl font-normal">Interested In</p>
            <select formControlName="safari" name="safari" class="mt-4 w-full rounded-lg focus:ring-1 focus:outline-none focus:ring-amber-500 border border-black hover:border-amber-500">
                <option value="" disabled selected>Choose safari</option>
                <option *ngFor="let safari of allSafaris" [value]="safari.title2" >
                    {{safari.title2 }}
                </option>
                 <option *ngFor="let airSafari of allAirSafaris" [value]="airSafari.name">
            {{ airSafari.name }}
        </option>
            </select>
            <div *ngIf="safariForm.get('safari')?.invalid && (safariForm.get('safari')?.touched || safariForm.get('safari')?.dirty)" class="text-red-500 text-sm">
                <p *ngIf="safariForm.get('safari')?.errors?.['required']"><i class="fa-solid fa-circle-exclamation fa-lg pr-1"></i>Please choose a safari.</p>
              </div>
        </div>

        <div>
            <label class="block text-gray-700 font-medium">Email</label>
            <input type="email" formControlName="email" name="email" placeholder="Enter your email"
                class="w-full p-2 border-b border-gray-400 focus:outline-none focus:border-amber-500">
                <div *ngIf="safariForm.get('email')?.invalid && (safariForm.get('email')?.touched || safariForm.get('email')?.dirty)" class="text-red-500 text-sm">
                    <p *ngIf="safariForm.get('email')?.errors?.['required']"><i class="fa-solid fa-circle-exclamation fa-lg pr-1"></i>Please enter a valid email.</p>
                  </div>
        </div>
       

        <div>
            <label class="block text-gray-700 font-medium">Whatsapp Number</label>
            <input type="tel" formControlName="phone" name="phone" placeholder="Enter whatsapp number"
                class="w-full p-2 border-b border-gray-400 focus:outline-none focus:border-amber-500">
        </div>
        <div *ngIf="(safariForm.get('phone')?.invalid && (safariForm.get('phone')?.touched || safariForm.get('phone')?.dirty))" 
        class="text-red-500 text-sm mt-2 hidden lg:flex">
        <p *ngIf="safariForm.get('phone')?.errors?.['required']">
            <i class="fa-solid fa-circle-exclamation fa-lg pr-1"></i>Please enter your number.
        </p>
        </div>
       
        

        <div>
            <label class="block text-gray-700 font-medium">Departure Day</label>
            <div class="cursor-pointer w-full p-2 border-b border-gray-400 focus:outline-none focus:border-amber-500"
                (click)="openDatePicker()">
                <input type="date" formControlName="departure" name="departure" #checkin class="w-full bg-transparent outline-none cursor-pointer">
            </div>
        </div>

        <div>
            <label class="block text-gray-700 font-medium">Message</label>
            <textarea formControlName="message" name="message" rows="4" placeholder="Your message..."
                class="w-full p-2 border-b border-gray-400 focus:outline-none focus:border-amber-500"></textarea>
        </div>

        <button type="submit"
            class="w-1/2 lg:w-1/4 bg-black text-white hover:text-black hover:border hover:border-black font-semibold py-3 rounded-lg hover:bg-white transition">
            SUBMIT
        </button>

    </form>
</div>
<app-snackbar/>
